<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<!-- suite parallel="false" name="Task"-->
<suite name="The Project Automation_Tool" >
    <listeners>
        <listener class-name="src.test.tests.RestAssuredListener" />
    </listeners>
  <test name="Test">

      <classes>
          <class name="src.test.tests.API_TestCases">
              <methods>
  <include name="News_Search" />

 </methods>
</class>
</classes>
</test> <!-- Test -->
</suite> <!-- Suite -->
